.subpage {
  margin-left: 250px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 40px;
}
ul {
    margin-top: 100px;
    margin-left: 30px;
   
}
@media (max-width: 768px) {
  .subpage {
  margin-left: 50px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 40px;
}
ul {
    margin-top: 100px;
    margin-left: 10px;
   
}
}